@media (max-width: 59em) {
	.btn-mobile-nav {
		display: block;
	}
	.main-nav {
		position: absolute;
		background-color: rgba(255, 255, 255, 0.9);
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;

		transform: translateX(100%);

		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.5s ease-in;

		/* hide the navigation //////////////////*/
		/* display: none;    --> transition doesn't work with this
		so we have to do something else which is opacity and 2 more things below
		*/
		/* 1 step--> hide element visually */
		opacity: 0;
		/* 2 step make it unaccessible to mouse and keyboard */
		pointer-events: none;
		/* step 3 --> hide it from screen readers */
		visibility: hidden;
		/* ////////////////////////////////////// */
	}
	.nav-open .main-nav {
		opacity: 1;
		pointer-events: auto;
		visibility: visible;
		transform: translateX(0);
	}
	.nav-open .icon-mobile-nav[name='close-outline'] {
		display: block;
	}
	.nav-open .icon-mobile-nav[name='menu-outline'] {
		display: none;
	}
	.main-nav-list {
		flex-direction: column;
		gap: 3.8rem;
	}
	.main-nav-link {
		font-size: 3rem;
		font-weight: 700;
	}
}
